<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.polidor.webapprunner" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="com.android.vending.BILLING" />

    <application
		android:name=".WebAppRunnerApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
		android:resizeableActivity="false">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
			android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.WebAppSettings"
            android:label="@string/app_name" />

        <activity
            android:name=".sign.CaptureSignature"
            android:label="@string/title_signature"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".WebAppFineLocation"
            android:label="@string/title_location"
            android:theme="@android:style/Theme.Dialog" />

		<activity
            android:name=".shortcut.UrlShortcutActivity"
            android:label="@string/title_shortcut" />

		<activity
			android:name=".DonationActivity"
			android:label="@string/title_donation" />

		<activity
            android:name=".nfc.NfcReaderActivity"
            android:label="@string/title_nfcread"
			android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.nfc.action.NDEF_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".widget.HttpGetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="hu.polidor.webapprunner" />
            </intent-filter>
        </receiver>
		
		<receiver android:name=".widget.HttpGetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_httpget_provider" />
        </receiver>

        <service
            android:name="hu.polidor.webapprunner.ServiceGcmListener"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
		
        <service
            android:name="hu.polidor.webapprunner.ServiceInstanceIDListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
		
        <service
            android:name="hu.polidor.webapprunner.ServiceRegistrationIntent"
            android:exported="false">
        </service>
		
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
		App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <!-- meta-data
		android:name="com.google.android.gms.version"
		android:value="@integer/google_play_services_version" / -->

    </application>

</manifest>

